.slider {
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    display: flex; 
    gap: 25px;
}

.slider__group {
    display: flex;
    gap: 25px;
}
.slider__img {
    width: 150px;
    height: 150px;
}